nav.topmenu ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.topmenu a{
  color: inherit;
  text-decoration: inherit;
}

nav.topmenu{
  text-align: center;
  padding: 0;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow:2px 2px 5px rgba(0,0,0,0.3);
}

nav.topmenu li{
  background-color: white;
  position: relative;
  padding: 10px;

}


nav.topmenu li:hover > a{
  color: white;

}

nav.topmenu ul ul{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;


}


nav.topmenu li:hover{
   background-color: #28527a;
}

nav.topmenu li:hover >ul{
  display: block;

  box-shadow:2px 2px 0px rgba(0,0,0,0.3);
}

nav.topmenu > ul {
  display: inline-block;
  height: 40px;
}

nav.topmenu > ul > li{
  float: left;
  display: block;

}

nav.topmenu >ul::after{
  content: "";
  display: block;
  clear: both;
}

nav.topmenu a{
  font-size: 16px;
  display: block;
  white-space: nowrap;
}
