

  a{
    text-decoration: none;
    color: #10427D;
  }

  h1{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 0;
  }

  h2{
    padding-top: 40px;
    padding-left: 30px;
  }

  body{
    margin: 30px;
  }

  #topmenu{
    height: 30px;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0;
  }

  #topmenu ul{
    margin: 0;
    padding: 0;

  }

  #topmenu ul li{
    float: left;
    list-style: none;
    background-color: #3480DB;
    line-height: 40px;
    text-align: center;
    width: 25%;
  }

  #topmenu ul li a {
      color: white;
    }

  #grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
    padding-right: 30px;
    color: #494949;

  }

  #para1{
    padding-right: 30px
  }

  #para2{
    padding-left: 30px;
  }

  #youtube{
    width: 90%;
    padding-bottom: 53%; /*유튜브 사이즈의 전체 높이 대비 비율*/
    position: relative;
    margin: 30px;
  }

  iframe{
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #image{
    text-align: center;
    padding: 20px;
  }
  #img{
    width: 60%;
    height: 60%;
    text-align: center;
  }

  #footer{
border-bottom: 1px solid gray;
padding: 30px;
}

@media (max-width:1200px) {
  #grid{
    display: block;
  }

  #para2{
    padding-left: 0;
  }

}
