
.topmenu .hamimg{
  width: 30px;
  height: 30px;
}



/*********************************************navbar*********************************************/

.topmenu{
           background-color: black;
           width: 100%;
           height: 60px;
           position: fixed;
           top: 0;
           left: 0;
           right: 0;
           margin: 0;
          }

          nav.topmenu ul, li{
            margin: 0;
            padding: 0;
            list-style: none;
          }

          nav.topmenu a{
            color:  rgba(255, 255, 255, 0.8);
            text-decoration: inherit;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            font-size: 10px;
          }

          nav.topmenu{
            text-align: center;
            padding: 0;
            margin-bottom: 20px;
            /*box-shadow:2px 2px 5px rgba(0,0,0,0.3);*/
          }

          nav.topmenu li{
            /*background-color: white;*/
            position: relative;
            padding: 18px;

          }


          nav.topmenu li:hover > a{
            color: rgba(255, 255, 255, 1);

          }

          nav.topmenu ul ul{
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);


          }


          nav.topmenu li:hover{
             background-color: rgba(0, 0, 0, 0.5);
          }

          nav.topmenu li:hover >ul{
            display: block;
          }

          nav.topmenu > ul {
            display: inline-block;
            padding-left: 2%;
            width: 100%;
            text-align: center;

          }

          nav.topmenu > ul > li{
            float: left;
            display: block;
          }

          nav.topmenu >ul::after{
            content: "";
            display: block;
            clear: both;
          }

          nav.topmenu a{
            font-size: 16px;
            display: block;
            white-space: nowrap;
          }


          .topmenu .ham{
            display: none;
          }



/*********************************************navbar*********************************************/

#logo{
  width: 30px;
  height: 26px;
  position: fixed;
  top: 16px;
  right: 1.5%;

}

body{
  margin: 0;
  overflow-x: hidden;
  /*mojs가 가로로 너무 커지는 것을 방자 */
  background-color: black;
}

.scene{
        height: 94vh;
        overflow: hidden;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Noto Sans KR', sans-serif;
        background-position: center;

      }

      .scene a{
        text-decoration: none;
        color: white;
      }

      .scene.zero{
        padding-top: 60px;
        background-image: url(https://source.unsplash.com/1600x900/?space);
      }
        .scene.one{
        background-image: url(https://source.unsplash.com/1600x900/?galaxy);
      }
      .scene.two{
        background-image: url(https://source.unsplash.com/1600x900/?star);
      }
      .scene.three{
        background-image: url(https://source.unsplash.com/1600x900/?moon);
      }

      .scene.four{
        background-image: url(https://source.unsplash.com/1600x900/?snow);
      }

      .scene header{
        color:white;
        max-width: 60%;
        position: relative;
        left:50%;
        top:50%;
        transform:translateX(-50%) translateY(-50%);
        text-align: center;
        font-weight: 300;
        background-color: rgba(0, 0, 0, 0.3);
        padding-bottom: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
      }

      .scene header h1{
        font-size:2rem;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 32px;
      }

      .scene header h1:after{
        content:'';
        border-bottom:1px solid white;
        width:8rem;
        display: block;
        margin:0 auto;
        margin-top:1rem;
      }

.btn_top{
      width: 40px;
      height: 40px;
      border-radius: 20px;
      border: 0px;
      position: fixed;
      right: 1%;
      top: 94%;
      background-color: rgba(255, 255, 255, 0.5);
      display: block;
      text-align:center;
    }

    .btn_top:hover{
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
    }


    .btn_top a{
      font-size: 40px;
      text-decoration: none;
      color: white;
      position: relative;
      top: -6px;
      left: -14px;
    }

#footer{
          text-align:center;
          font-size: 1rem;
          color: rgba(255, 255, 255, 0.5);
          font-weight: 200;
          padding-bottom: 2rem;
          font-family: 'Noto Sans KR', sans-serif;
        }

        #footer a{
          color: rgba(255, 255, 255, 0.5);
          text-decoration: none;

        }

        #footer:before{
          content: "";
          width: 10rem;
          margin: 2rem auto;
          display: block;
          border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

@media all and (max-width: 960px)  {
        .scene{
          height: 50vh;
        }

        .scene.zero{
          margin-top: 60px;
        }

        .scene header{
          max-width: 80%;
          padding-left: 2rem;
          padding-right: 2rem;
          font-size: 14px;
        }

        .scene header h1{
          margin-bottom: 1rem;
          font-weight: 500;
          font-size: 20px;
        }

        nav.topmenu ul li{
          display: none;
        }

        #logo{
          top: 15px;

        }

        .topmenu .ham{
          display: block;
          position: fixed;
          top: 15px;
          left: 10px;
        }


        }
